<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>new_Post form</title>
</head>
<body>
    <nav>
    <ul id="menu">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    <li><h1>new post form</h1></li>
    <li></li>
        <li></li>
        <li></li>
        <li></li>
            <form action="" method="patch">
                
            </form>
        <li class="logo"><a href="http://localhost:3000/home">Home</a></li>
        <li class="item"><a href="http://localhost:3000/home/new_post">Newpost</a></li>
        <li class="item"><a href="http://localhost:3000/profile">Profile</a></li>
    </ul>
    </nav>
    <div class="bg">
        <div class="box">
        <form action="" method="post">
                <textarea id="w3review" type="text" name="massage" placeholder="massage" rows="4" cols="36"></textarea>
                <input type="text" id="pin" name="url" placeholder="copy and paste the image url" required>
                <a href="http://localhost:3000/home">Back</a> <button type="submit">submit</button>   
            </form>
        </div>
    </div>
    <script>
        const passsword = document.getElementById('pin').value;
        console.log(passsword)
        if (passsword.length > 5){
            alert('you url is in vallid')
        }
    </script>
    <style>
        *{
            align-items: center;
            width: auto;
            margin:5% 10%;
        }
        body{
            background-color: rgba(156, 155, 155, 0.206);
        }
        h1{
            font-family: monospace;
            color: black;
            font-weight: 600;
            font-size: 55px;
        }
        .bg{
            background: rgba(128, 128, 128, 0.76);
            height: 70vh;
            width: 78%;
            border-radius: 50%;
            display: flex;
            margin: 0 auto;
            margin-top: -25rem;
        }
        .box{
            margin:  0 10px;
        }
        textarea{
            width: 70%;
            border-radius: 10px;
            padding: 5px;
            background-color: azure;
        }
        input{
            width: 70%;
            padding: 10px 20px;
            border-radius: 10px;
            font-size: 20px;
            background-color: azure;
        }
        button{
            border-radius: 20px;
            padding: 10px 20px;
            font-size: 18px;
            background-color: rgb(244, 183, 70);
        }
        a{
            text-decoration: none;
            height: 30px;
            width: 80px;
            padding: 10px 20px;
            border-radius: 10px;
            font-size: 20px;
            background-color: rgb(244, 183, 70);
            border: 1px solid;
        }
         #menu{
            display: flexbox;
            left: 0%;
            width: 100%;
            margin: -7rem 0 0 -10rem ; 
            color: white;
            text-align: left;
        }
        #menu a{
            font-size: 1.3rem;
            display: flexbox;
            margin: 0 auto;
            overflow: hidden;
        }
    </style>
</body>
</html>